{% extends "AppEI/padre.html" %}

{% load static %}

{% block titulo %}
<h1 class="mb-5">LISTADO DE PELICULAS DE TERROR</h1>
{% endblock %}


{% block contenido_que_cambia %}

<ul>
    <h2>LISTADO DE PELICULAS</h2>
    {% for terror in terrores %}
    <li>{{ terror.nombre }} - {{ terror.valoracion }}</li>
    <a class="btn btn-danger" href="{% url 'eliminarPelicula' terror.id %}">Eliminar</a>
    <a class="btn btn-success" href="{% url 'editarPelicula' terror.id %}">Editar</a>


    {% endfor %}
</ul>

<h2>{{ mensaje }}</h2>

<a class="btn btn-primary" href="{% url 'terrorFormulario' %}">Agregar Pelicula</a>




{% endblock %}