{% extends "AppEI/padre.html" %}

{% load static %}

{% block titulo %}
<h1 class="mb-5">LISTADO DE PELICULAS DE ACCION</h1>
{% endblock %}


{% block contenido_que_cambia %}

<ul>
    <h2>LISTADO DE PELICULAS</h2>
    {% for accion in acciones %}
    <li>{{ accion.titulo }} - {{ accion.valoracion }}</li>
    <a class="btn btn-danger" href="{% url 'eliminarPelicula' accion.id %}">Eliminar</a>
    <a class="btn btn-success" href="{% url 'editarPelicula' accion.id %}">Editar</a>


    {% endfor %}
</ul>

<h2>{{ mensaje }}</h2>

<a class="btn btn-primary" href="{% url 'accionFormulario' %}">Agregar Pelicula</a>




{% endblock %}